.container {
    width: 90%;
  }
  
  .question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #E5E1D6;
    padding: 2em;
    margin: 1rem 0;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    
  }
  
  .question-container h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1rem, 5vw, 4rem);
  }
  
  .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  
  .player-img-container {
    width: 260px;
    height: 190px;
  }
  
  .player-img {
    width: 100%;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .btn {
    border-radius: 0.4em;
    padding: 1em;
    font-size: 1.5rem;
    font-size: clamp(1rem, 1.5vw, 3rem);
    border: 1.5px solid black;
    cursor: pointer;
    transition: all 0.5s;
    color: black;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    color: var(--btn-color);
    background-color: black;
  }
  
  .btn.correct {
    border: 1.5px solid var(--btn-correct);
    background-color: var(--btn-correct);
    color: var(--btn-color);
  }
  
  .btn.wrong {
    border: 1.5px solid var(--btn-wrong);
    background-color: var(--btn-wrong);
    color: var(--btn-color);
  }
  
  .next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .next-btn {
    font-size: 2rem;
    width: 10em;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
  }

.hide {
    opacity: 0;
    transition: 0.1s linear;
  }