.score {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.restart-btn {
  font-size: var(--btn-default-font-size);
  text-transform: uppercase;
  border: 1.5px solid var(--btn-correct);
  background-color: var(--btn-correct);
  color: var(--btn-color);
  border-radius: 0.4em;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  /* color: black; */
}

.restart-btn:hover,
.restart-btn:active,
.restart-btn:focus {
  background-color: var(--btn-correct-hover);
  border: 1.5px solid var(--btn-correct-hover);
}

.img-restart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5em;
}

.jersey-img {
  width: 20%;
}